<!DOCTYPE html>
    <!-- navbar -->
{% load staticfiles %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="index.html"><img src="{% static "img/logo.png"%}" /></a>

            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
                        {{ username }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if username != None and username != '' %}
                            <li><a href="/users/logout/">退出登录</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="settings hidden-phone">
                    <a href="{% url "document" %}" role="button">
                        <i class="icon-question"></i>
                    </a>
                </li>
                <li class="settings hidden-phone">
                    <a href="{% url "logout" %}" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end navbar -->