<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>ScholarDB-学者注册</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                         <label >注册邮箱</label><input class="form-control" id="mail" name = "mail" type="email" />
                    </div>
                    <div class="form-group">
                         <label>密码</label><input class="form-control" id="pwd" name = "pwd" type="password" />
                    </div>
                    <div class="checkbox">
                         <label><input type="checkbox" name = "auto"  value = "true"/>自动登录</label>

                    </div> <button type="submit" class="btn btn-default">登录</button>
                </form>
            </div>

  <body>

    <!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
    <!-- 可选: 包含 jQuery 库 -->
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
    <script src="https://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>