<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>个人信息</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link href="{% static "css/bootstrap/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-overrides.css"%}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static  "css/icons.css"%}" />

    <!-- libraries -->

    <link rel="stylesheet" type="text/css" href="{% static "css/lib/font-awesome.css"%}" />
    <link href="{% static "css/lib/bootstrap-wysihtml5.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/uniform.default.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/select2.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/bootstrap.datepicker.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/font-awesome.css"%}" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/form-showcase.css"%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/form-wizard.css"%}" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
{% include "common_nav_bar.html" %}
{% include "common_side_bar.html" %}
<div style = "display: none">
{% include "elements.html" %}
</div>

	<!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper" class="user-profile">
                <!-- header -->
                {% if not tusertype %}
                    <h2>用户不存在<small>#{{ tuno }}</small></h2>
                    <hr>
                {% else %}
                <div class="row-fluid header" style="padding-bottom: 30px" >
                    <div class="span9 bio">
                        <h2 id = 'tuname'>Name
                            <small>
                                {% if tusertype == 'Scholar' %}
                                    学者
                                {% else %}
                                    志愿者
                                {% endif %}
                            </small>
                        </h2>
                    </div>
                    <div class="span3">
                        <input class="search" placeholder="搜索学者/志愿者ID" onchange="window.location='{% url "scholar_info"%}' + '?tuno=' + this.value">
                    </div>
                </div>
                <br/>
                <div class="row-fluid profile">
                    <!-- bio, new note & orders column -->
                    <div class="span9 bio">
                        {% if tusertype == 'Scholar' %}
                        <div class="profile-box">
                            <h5><i class="icon-check"><b>组织课题</b></i></h5>
                            <br />

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="span5">
                                                任务简介
                                            </th>
                                            <th class="span4">
                                                <span class="line"></span>发布日期
                                            </th>
                                            <th class="span2">
                                                <span class="line"></span>酬劳
                                            </th>
                                            <th class="span4 align-right">
                                                <span class="line"></span>限制条件
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody id = "qpar">
                                        <!-- row -->
                                    </tbody>
                                </table>
                        </div>
                        {% endif %}

                        <div class="profile-box">
                            <h5><i class="icon-check"><b>参与课题</b></i></h5>
                            <br />
                            {% if uno == tuno %}
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="span5">
                                                任务名
                                            </th>
                                            <th class="span4">
                                                <span class="line"></span>参与日期
                                            </th>
                                            <th class="span2">
                                                <span class="line"></span>酬劳
                                            </th>
                                            <th class="span4 align-right">
                                                <span class="line"></span>当前状态
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody id = "participation-table">
                                        <!-- row -->
                                    </tbody>
                                </table>
                            {% else %}
                                <p>这些内容是私密的。</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- side address column -->
                    <div class="span3 address pull-right">
                        <h5>基本信息</h5>
                        <hr SIZE=3>
                        <dl class="list-group">
                            <dt id = "lb-inst/cred">教育机构/志愿者积分</dt>
                            <dd id = "inst/cred" class="list-group-item">inst/cred</dd>
                            <dt>邮箱</dt>
                                <dd class="list-group-item">
                                    <i class="ico-mail"></i>
                                    <a href="#" id = "mail">mail</a>
                                </dd>
                            {% if uno == tuno %}
                            <dt>城市</dt>
                            <dd id = "city" class="list-group-item">city</dd>
                            <dt>国家</dt>
                            <dd id = "nation" class="list-group-item">nation</dd>
                            <dt>年龄</dt>
                            <dd id = "age" class="list-group-item">age</dd>
                            <dt>性别</dt>
                            <dd id = "gender" class="list-group-item">gender</dd>
                            <dt>余额</dt>
                            <dd id = "money" class="list-group-item">money</dd>
                            {% endif %}
                        </dl>
                        <hr>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->


	<!-- scripts -->
    <script src="{% static "js/jquery-latest.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/theme.js"%}"></script>
    <script src="{% static "js/survey_chart.js" %}"></script>
    <script>
        var tuno = {{ tuno }};
        var uno = {{ uno }};
        load_user_info();
        {% if tusertype == 'Scholar' %}
        load_project_info();
        {% endif %}
        {% if tuno == uno %}
        load_participation_info();
        {% endif %}
        function load_user_info(){
            $.getJSON('{% url "scholar_info" %}',{'load_user_info':'true','tuno':tuno},function(res){
                var usertype = res.usertype;
                if(usertype == 'Scholar') {
                    document.getElementById("tuname").innerHTML = res.uname + '<small>学者</small>';
                    document.getElementById("lb-inst/cred").innerHTML = '机构';
                }
                else {
                    document.getElementById("tuname").innerHTML = res.uname + '<small>志愿者</small>';
                    document.getElementById("lb-inst/cred").innerHTML = '志愿者积分';
                }
                if(usertype == 'Scholar'){
                    document.getElementById("inst/cred").innerHTML = res.inst;
                }
                else{
                    document.getElementById("inst/cred").innerHTML = res.cred;
                }
                document.getElementById("mail").innerHTML = res.mail;
                {% if uno == tuno %}
                document.getElementById("nation").innerHTML = res.nation;
                document.getElementById("city").innerHTML = res.city;
                document.getElementById("money").innerHTML = res.money;
                document.getElementById("age").innerHTML = res.age;
                document.getElementById("gender").innerHTML = res.gender;
                {% endif %}
            })
        }
        {% if tusertype == 'Scholar' %}
        function load_project_info(){
            $.getJSON('{% url "scholar_info" %}',{'load_project_info':'true','tuno':tuno},function(res){
                for(var i = 0;i<res.length;++i){
                    add_list_item_wrapper(res[i],"qpar")
                }
            });
        }
        {% endif %}
        function load_participation_info(){
            $.getJSON('{% url "scholar_info" %}',{'load_participation_info':'true','tuno':tuno},function(res){
                for(var i =0;i<res.length;++i) {
                    add_list_item2(res[i],"participation-table");
                }
            })
        }
        function  add_list_item_wrapper(item,parid) {
            var ele = add_list_item(item,parid);
            var href = ele.getElementsByClassName("name title")[0].href;
            href = href.replace(/view_questions/,'manage/');
            href = href.replace(/view_files/,'manage/');
            ele.getElementsByClassName("name title")[0].href = href;
        }
        function add_list_item2(item,parid){
            var ele = document.getElementById("list-item").cloneNode(true);
            ele.id = item.NO;
            ele.getElementsByClassName("name title")[0].innerHTML = item.TITLE;
            ele.getElementsByClassName("text")[0].innerHTML = item.TYPE;
            ele.getElementsByClassName("time")[0].innerHTML = item.SUBMIT_TIME;
            ele.getElementsByClassName("payment")[0].innerHTML = item.PAYMENT;
            ele.getElementsByClassName("align-right restrict")[0].innerHTML = item.STATUS;
            var par = document.getElementById(parid);
            par.appendChild(ele);
            return ele;
        }
    </script>

</body>
</html>