<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>个人信息</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link href="{% static "css/bootstrap/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-overrides.css"%}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static  "css/icons.css"%}" />

    <!-- libraries -->

    <link rel="stylesheet" type="text/css" href="{% static "css/lib/font-awesome.css"%}" />
    <link href="{% static "css/lib/bootstrap-wysihtml5.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/uniform.default.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/select2.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/bootstrap.datepicker.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/font-awesome.css"%}" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/form-showcase.css"%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/form-wizard.css"%}" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
{% include "common_nav_bar.html" %}
{% include "common_side_bar.html" %}
<div style = "display: none">
{% include "elements.html" %}
</div>

	<!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper" class="user-profile">
                <div class="row-fluid header" style="padding-bottom: 30px" >
                    <div class="span9 bio">
                        <h2 id = 'tuname'>开发文档

                        </h2>
                    </div>
                </div>
                <div class="row-fluid">
                    {% include 'document_content.htm' %}
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->


	<!-- scripts -->
    <script src="{% static "js/jquery-latest.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/theme.js"%}"></script>
    <script src="{% static "js/survey_chart.js" %}"></script>

</body>
</html>