{% load staticfiles %}
<script src = "{% static "js/survey_chart.js" %}">

</script>


<div id = "qa-ele" class = "panel panel-default qa">
    <div class="panel-heading">
        <h3 class="panel-title">
            问题
        </h3>
    </div>
    <div class="panel-body">
        <input type="text" class = "span12 inline-input des" placeholder = "题干描述" id = "qa-ele-des">
    </div>
    <div class="panel-body">
        <input type="text" class = "span12 inline-input sup" placeholder = "题目补充" id = "qa-ele-det">
    </div>
    <div class="panel-body">
        <div class="ui-select">
            <select class="supplement-type">
                <option value="text" selected=""/>文字补充
                <option value="img"/>图像链接补充
            </select>
        </div>
    </div>
    <div class = panel-footer>
        <div class="ui-select">
            <select class="inputtype">
                <option value="text" selected=""/>文字
                <option value="number"/>数字
            </select>
        </div>
    </div>
</div>

<div id = "qsc-ele" class = "panel panel-default qsc">
    <div class="panel-heading">
        <h3 class="panel-title">
            问题
        </h3>
    </div>
    <div class="panel-body">
        <input type="text" class = "span12 inline-input des" placeholder = "题干描述" id = "qsc-des">
    </div>
    <div class="panel-body">
        <input type="text" class = "span12 inline-input sup" placeholder = "题目补充" id = "qsc-detail">
    </div>
    <div class="panel-body">
        <div class="ui-select">
            <select class="supplement-type">
                <option value="text" selected=""/>文字补充
                <option value="img"/>图像链接补充
            </select>
        </div>
    </div>
    <div class = "choice" id = "qsc-choice" >
        <div class="panel-body">
            <input type="text" class = "span12 input choice" placeholder = "选项" id = "qsc-c1">
        </div>
    </div>

    <div class = panel-footer>
        <button class = "btn-flat" id = "qsc-btn" onclick="return add_choice(this)">增加选项</button>
        <div class="ui-select">
            <select class="inputtype">
                <option value="single" selected=""/>单选
                <option value="multiple"/>多选
            </select>
        </div>
    </div>
</div>


<div class="panel-body qsc-choice-ele" id = "choice">
    <input type="text" class = "span12 input choice" placeholder = "选项" id = "qa-ele-det">
</div>

<table>
    <tr id="list-item">
        <td>
            <a class="name title">Title</a>
            <span class="text">
            </span>
            <p class="help-block description"></p>
            <p class="hidden qno" style = "display:none"></p>
        </td>
        <td class = "time">
            2017-04-12 14:44:44
        </td>
        <td class = "payment">
            $ 2
        </td>
        <td class="align-right restrict">

        </td>
    </tr>
</table>

<table>
    <tr id="scholar-list-item">
        <td class = "access">
           <span style="margin-left: 2px; margin-top: 50px;font-size: 14px" class="icon-eye-close"></span>
        </td>
        <td>
            <a class="name title">Title</a>
            <span class="text">
            </span>
            <p class="help-block description"></p>
            <p class="hidden qno" style = "display:none"></p>
        </td>
        <td class = "time">
            2017-04-12 14:44:44
        </td>
        <td class = "payment">
            $ 2
        </td>
        <td class = "processing align-right">
            收回1又35/100份
        </td>
        <td class="align-right restrict">

        </td>
    </tr>
</table>


<div id = "qa-ans" class = "panel panel-default qa-ans">
    <div class="panel-heading">
        <h3 class="panel-title" id = "panel-title">
            问题
        </h3>
    </div>
    <div class="panel-body">
        <p id = "qa-ele-des" class = "qa-des" style="font-size: larger"></p>
    </div>
    <div class="panel-body">
        <p id = "qa-ele-det" class = "qa-det" ></p>
    </div>
    <div class = panel-body>
        <textarea class = "span12" placeholder = "答案" id = "qa-ans"></textarea>
    </div>
</div>

<div id = "qsc-ans" class = "panel panel-default qsc-sg-ans">
    <div class="panel-heading">
        <h3 class="panel-title" id = "panel-title" >
            问题
        </h3>
    </div>
    <div class="panel-body" style="font-size: larger">
        <p class = "qsc-des"></p>
    </div>
    <div class="panel-body">
        <p class = "qsc-det"></p>
    </div>

    <div class = panel-body>
        <div class="field-box">
            <select class="span12" multiple="">
            </select>
        </div>
    </div>
</div>

