<!DOCTYPE html>
<html>
<head>
	<title>ScholarDB-任务列表</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load staticfiles %}
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="{% static "css/bootstrap/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-overrides.css"%}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static  "css/icons.css"%}" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/font-awesome.css"%}" />
    <link href="{% static "css/lib/bootstrap-wysihtml5.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/uniform.default.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/select2.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/bootstrap.datepicker.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/font-awesome.css"%}" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/tables.css"%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/form-showcase.css"%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/form-wizard.css"%}" type="text/css" media="screen" />


    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

    {% include "common_nav_bar.html" %}
    {% include "common_side_bar.html" %}
    <div style = "display: none">
    {% include "elements.html" %}
    </div>

	<!-- main container -->
    <div class="content">

        <div class="container-fluid">
            <div id="pad-wrapper">
                <!-- users table -->
                <div class="table-wrapper users-table section" style="margin-bottom: 10px;">
                   <div class="row-fluid header" style="margin-bottom: 20px;">
                        <h1 class="icon-check"> 任务列表</h1>
                </div>
                    <div class="alert alert-success">
                      <strong>欢迎，志愿者！</strong> 你可以选择参与一项任务，当学者认定合格后你还将会收到报酬！
                    </div>
                    <div class="row-fluid filter-block">
                        <div class="span12">
                            <ul class="nav nav-pills">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        任务类型
                                    <b class="caret"></b>
                                    </a>
                                <ul class="dropdown-menu">
                                    <li><a onclick="refresh_filter_type('SURVEY')">仅调研问卷</a></li>
                                    <li><a onclick="refresh_filter_type('TASK')">仅数据标注</a></li>
                                    <li><a onclick="refresh_filter_type('BOTH')">重置</a></li>
                                </ul>
                                </li>
                                <li class="dropdown" id="subject">
                                    <a class="dropdown-toggle" id="subject1" data-toggle="dropdown">
                                        调研学科类型
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" >
                                        <li><a onclick="refresh_filter_subject('数据科学')">数据科学</a></li>
                                        <li><a onclick="refresh_filter_subject('计算机视觉')">计算机视觉</a></li>
                                        <li><a onclick="refresh_filter_subject('自然语言处理')">自然语言处理</a></li>
                                        <li><a onclick="refresh_filter_subject('社会学')">社会学</a></li>
                                        <li><a onclick="refresh_filter_subject('经济管理')">经济管理</a></li>
                                        <li><a onclick="refresh_filter_subject('心理学')">心理学</a></li>
                                        <li><a onclick="refresh_filter_subject('自然科学')">自然科学</a></li>
                                        <li><a onclick="refresh_filter_subject('医学')">医学</a></li>
                                        <li><a onclick="subject='';clear_list_item('qpar');load()">重置</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="datatype">
                                    <a class="dropdown-toggle" id="datatype1" data-toggle="dropdown" href="#">
                                        标注数据类型
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="refresh_filter_datatype('文本数据')">文本数据</a></li>
                                        <li><a onclick="refresh_filter_datatype('语音数据')">语音数据</a></li>
                                        <li><a onclick="refresh_filter_datatype('图片数据')">图片数据</a></li>
                                        <li><a onclick="refresh_filter_datatype('视频数据')">视频数据</a></li>
                                        <li><a onclick="refresh_filter_datatype('未知类型')">未知类型</a></li>
                                        <li><a onclick="datatype='';clear_list_item('qpar');load()">重置</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    发布时间
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="refresh_order('OPENTIME','ASC')">最远</a></li>
                                        <li><a onclick="refresh_order('OPENTIME','DESC')">最近</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        标题
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick = "refresh_order('TITLE','ASC')">升序</a></li>
                                        <li><a onclick = "refresh_order('TITLE','DESC')">降序</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        酬劳
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a onclick = "refresh_order('PAYMENT','DESC')">最多</a></li>
                                        <li><a onclick = "refresh_order('PAYMENT','ASC')">最少</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a onclick = "reset()" class="icon-bullseye" style="margin-top: 3px">  清空所有条件</a>
                                </li>
                                <div class="span1 pull-right">
                                    <a class="btn btn-flat btn-mini" onclick="refresh_filter_search()">搜索</a>
                                </div>
                                <div class="span3 pull-right" style="margin-left:0px;margin-right: 10px" >
                                    <div class="input-append">
                                        <input class="span9" id="search" type="text">
                                    <div class="btn-group">
                                    <button class="btn  dropdown-toggle" data-toggle="dropdown" style="font-size:12px ">
                                        范围
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li> <a >仅搜索标题</a></li>
                                        <li> <a onclick = "desc = 1">搜索标题和描述 </a></li>
                                    </ul>
                                    </div>
                                    </div>
                                </div>

                            </ul>

                            <!--<input type="text" class="search-query" style="margin-top:5px" placeholder="搜索" />-->
                        </div>

                        </div>

                    </div>

                    <div class="row-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="span5">
                                        任务简介
                                    </th>
                                    <th class="span4">
                                        <span class="line"></span>发布日期
                                    </th>
                                    <th class="span2">
                                        <span class="line"></span>酬劳
                                    </th>
                                    <th class="span3 align-right">
                                        <span class="line"></span>限制条件
                                    </th>
                                </tr>
                            </thead>
                            <tbody id = "qpar">
                                <!-- row -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end users table -->
            </div>
        </div>
    </div>
    <!-- end main container -->

	<!-- scripts -->
    <script src="{% static "js/jquery-latest.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/theme.js"%}"></script>
    <script src="{% static "js/wysihtml5-0.3.0.js"%}"></script>
    <script src="{% static "js/bootstrap-wysihtml5-0.0.2.js"%}"></script>
    <script src="{% static "js/jquery.uniform.min.js"%}"></script>
    <script src="{% static "js/select2.min.js"%}"></script>
    <script src="{% static "js/theme.js"%}"></script>

        <!-- call this page plugins -->
    <script src = "{% static "js/survey_chart.js" %}"></script>
    <script>
        var order_str = "OPENTIME DESC";
        var type = "BOTH";
        var subject = "";
        var datatype = "";
        var desc = 0;
        var pattern = "";

        function load(){
            $.getJSON('{% url "list" %}',{'load':'true','type':type,'order':order_str,'subject':subject,'datatype':datatype,'title':pattern},function(res){
                for(var i = 0;i<res.length;++i){
                    add_list_item(res[i],"qpar");
                }
            });
        }
        load();
        function search(){
            $.getJSON('{% url "list" %}',{'search':'true','subject':subject,'datatype':datatype,'isDesc':desc,'type':type,'order':order_str,'pattern':pattern},function(res){
                for(var i = 0;i<res.length;++i){
                    add_list_item(res[i],"qpar");
                }
            })
        }
        function refresh_order(order,how)
        {
            clear_list_item("qpar");

            var pattern_str1 = order + " DESC,";
            var pattern_str2 = order + " ASC,";

            order_str = order_str.replace(pattern_str1,"");
            order_str = order_str.replace(pattern_str2,"");

            order_str = "{0} {1},".format(order,how) + order_str;
            load();
        }
        function refresh_filter_subject(subject_t){
            clear_list_item("qpar");
            subject+= subject_t + " ";
            load();
        }
        function refresh_filter_datatype(datatype_t){
            clear_list_item("qpar");
            datatype = datatype_t;
            load();
        }
        function refresh_filter_type(type_t){
            $(".disabled").removeClass("disabled");
            clear_list_item("qpar");

            type = type_t;
            var id = "";
            if(type == "TASK") id = "#subject";
            if(type == "SURVEY")id = "#datatype";
            $(id).addClass("disabled");
            $(id+"1").addClass("disabled");

            load();
        }
        function refresh_filter_search()
        {
            clear_list_item("qpar");
            pattern = document.getElementById("search").value;
            search();
            desc = 0;
        }
        function reset()
        {
            clear_list_item("qpar");
            order_str = "OPENTIME DESC";
            type = "BOTH";
            subject = "";
            datatype = "";
            desc = 0;
            pattern = "";
            load();
        }

    </script>
    <script type="text/javascript">
        $(function () {

            // add uniform plugin styles to html elements
            $("input:checkbox, input:radio").uniform();

            // select2 plugin for select elements
            $(".select2").select2({
                placeholder: "请选择..."
            });

            // wysihtml5 plugin on textarea
            $(".wysihtml5").wysihtml5({
                "font-styles": false
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {

            // add uniform plugin styles to html elements
            $("input:checkbox, input:radio").uniform();

            // select2 plugin for select elements
            $(".select2").select2({
                placeholder: "请选择..."
            });

            // wysihtml5 plugin on textarea
            $(".wysihtml5").wysihtml5({
                "font-styles": false
            });
        });
    </script>

</body>
</html>