<!DOCTYPE html>
<html>
<head>
	<title>ScholarDB-调研回收</title>
    {% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{% static "css/bootstrap/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-overrides.css"%}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static  "css/icons.css"%}" />

    <!-- libraries -->
    <link href="{% static "css/lib/bootstrap-wysihtml5.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/uniform.default.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/select2.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/bootstrap.datepicker.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/font-awesome.css"%}" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/form-showcase.css"%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/form-wizard.css"%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/user-list.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/index.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/ui-elements.css" %}" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
{% include "common_nav_bar.html" %}
{% include "common_side_bar.html" %}

<div style = "display: none">
    {% include "elements.html" %}

</div>
	<!-- main container -->
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper">
                <!-- users table -->
                    <div class="row-fluid header">
                        <div class="span12">
                            {% if is_task %}
                                <h2>任务详细信息
                                    <small>TASK#{{ tno }}</small>
                                </h2>
                            {% else %}
                                <h2>调研详细信息
                                    <small>SURVEY#{{ sno }}</small>
                                </h2>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row-fluid filter-block">
                        <div id="main-stats">
                            <div class="row-fluid stats-row">
                                <div class="span4 stat">
                                    <div class="data">
                                        <i class="icon-cloud-download icon-2x">&nbsp;&nbsp;</i>
                                        <span class="number" id="answer-cnt"></span>
                                        回收问卷
                                    </div>
                                </div>
                                <div class="span4 stat">
                                    <div class="data">
                                        <i class="icon-group icon-2x"  id="contributor-detail" data-html="true" data-original-title="项目状态">&nbsp;&nbsp;</i>
                                        <span class="number" id="contributor-cnt"></span>
                                        合作学者
                                        <a id='detail-btn1' onclick = "onclick_user_search()" data-html="true" data-original-title="合作学者">详细</a>
                                    </div>
                                </div>
                                <div class="span4 stat">
                                    <div class="data">
                                        <i class="icon-tag icon-2x" id="project-status-detail" data-html="true" data-original-title="项目状态">&nbsp;&nbsp;</i>
                                        <span class="number" id="stage"></span>
                                        项目状态
                                        <a id='detail-btn2' onclick="onclick_project_detail()" >详细</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr/>
                        {% if able %}
                        <blockquote>
                                <h5 id="survey-title"></h5>
                                <h6 id ="survey-description">
                                </h6>
                                创建于：<h6 class="help-block" id="survey-opentime"></h6>
                        </blockquote>
                        <div class="tabbable" id="tabs-679254">
                            <ul class="nav nav-tabs">
                                <li class = "active">
                                     <a href="#panel-1" data-toggle="tab">筛选</a>
                                </li>
                                <li>
                                     <a href="#panel-2" data-toggle="tab">统计</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="panel-1">
                                    <div class = "accordion" id = "accordion2">

                                    </div>
                                </div>
                                <div class="tab-pane" id="panel-2">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div id="date_number" style="margin:50px;margin-left:10px;width: 400px;height:200px;"> </div>
                                        </div>
                                        <div class="span3">
                                            <div id="gender" style="margin:50px;margin-left:0px;width: 260px;height:200px;"> </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div id="location" style="margin:50px;margin-left:10px;width: 800px;height:600px;"> </div>

                                </div>
                                        <button onclick="load_date_number();load_gender();load_location()">test</button>

                            </div>

                        </div>
                        {% else %}
                        <h3 class="icon-eye-close"> 这个数据集不是开源数据集，或者调研尚未结束</h3>
                        <br>
                        <br>
                        <blockquote>
                            你可以跳转至负责人主页，联系负责人将你加入合作者列表<br/>
                            或者，你也可以联系合作者们，并请求线下提供数据集。
                            <small>ScholarDB只能帮你这么多了。</small>
                        </blockquote>
                        <hr>
                        <div class="alert alert-block alert-info">
                            <h5>贴心的用户搜索框<p class="help-block">你在用户中心也能找到它</p></h5>
                            <input class="search" placeholder="搜索学者/志愿者ID" onchange="window.location='{% url "scholar_info"%}' + '?tuno=' + this.value">
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- end main container -->


	<!-- scripts -->

    <script src="{% static "js/jquery-latest.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/theme.js"%}"></script>
    <script src="{% static "js/wysihtml5-0.3.0.js"%}"></script>
    <script src="{% static "js/bootstrap-wysihtml5-0.0.2.js"%}"></script>
    <script src="{% static "js/jquery.uniform.min.js"%}"></script>
    <script src="{% static "js/select2.min.js"%}"></script>
    <script src = "{% static "js/survey_chart.js" %}"></script>

    <script src="{% static "js/echarts.js" %}"></script>
    <script src="{% static "js/china.js" %}"></script>

    <script>
        var sno = {{ sno }};
        var tno = {{ tno }};
        var project_type;
        load_contributor();
        load_by_user();
        load_summary();
        function load_contributor(){
            $.getJSON("{% url "manage" %}",{"load_contributor":"true","sno":sno,"tno":tno},function(res){
                document.getElementById("contributor-cnt").innerHTML = res.contributor_cnt;
                var ul_ele = document.getElementById("current-contributor");
                ul_ele.innerHTML = "";
                for(var item in res.contributor){
                    var li = document.createElement('li');
                    li.innerHTML = "{0} {1}(#{2})".format(res.contributor[item].uname,res.contributor[item].inst,res.contributor[item].uno);
                    if(res.contributor[item].access == "owner")
                        li.innerHTML = '<strong>' + li.innerHTML + '</strong>';
                    ul_ele.appendChild(li);
                }
            })
        }
        function load_by_user() {
            $.getJSON("{% url "manage" %}",{"load_by_user":"true","sno":sno,"tno":tno},function(res){
              //document.write(JSON.stringify(res));
              answer_group_by_user("accordion2",sno,res,tno,project_type);
            })
        }
        function load_summary() {
            if(sno != -1)
                project_type = "SURVEY";
            else
                project_type = "TASK";
            $.getJSON("{% url "manage" %}",{"load_summary":"true","sno":sno,"tno":tno},function(res){
              //document.write(JSON.stringify(res));
              document.getElementById("answer-cnt").innerHTML = res.answer_cnt;
              document.getElementById("stage").innerHTML = res.stage;
              document.getElementById("publicity").innerHTML = res.publicity;
              document.getElementById("survey-title").innerHTML =  res.title;
              document.getElementById("survey-description").innerHTML = res.description;
              document.getElementById("survey-opentime").innerHTML = new Date(res.opentime).toLocaleString();
            })
        }
        var tid = 2000;
        function search_scholar(name){
            $.getJSON("{% url "manage" %}",{"search_user":"true","sno":sno,"name":name,"tno":tno},function(res){
              var ul = document.getElementById("scholar-search-result");
              ul.innerHTML = "<br/>";
              for(var i in res){
                  var li = document.createElement('li');
                  li.innerHTML = res[i].uname + "(#"+ res[i].uno + ")" +" "+ res[i].inst;
                  li.id = res[i].uno;
                  var a_ele = "<a onclick = 'add_contributor(this.parentNode.id)'>添加</a>";
                  li.innerHTML += a_ele;
                  ul.appendChild(li);
              }
               $("#content").html(document.getElementById("search-user-tiny").innerHTML);
                tid++;
            });
        }
        function add_contributor(uno){
            $.get("{% url "manage" %}",{"add_contributor":"true","sno":sno,"uno":uno,"tno":tno});
            alert("添加成功");
        }
        function close_survey(){
            var set_public = document.getElementById("set-public").value;
            if(document.getElementById('stage') != 'OPEN' || confirm("确定修改？关闭调研无法撤销") == true)
                $.get("{% url "manage" %}",{"close":"true","sno":sno,"publicity":set_public,"tno":tno},function(res){
                    if(res != "")
                        alert(res);
                })
        }
        function delete_survey(){
            if(confirm("确定删除调研？该操作不可撤销") == true)
                $.get("{% url "manage" %}",{"delete":"true","sno":sno,"tno":tno})
        }

        function onclick_user_search()
        {
            var ele = $("#contributor-detail");
            ele.popover('toggle');
            $("#content").html(document.getElementById("search-user-tiny").innerHTML);
        }
        function onclick_project_detail() {
            var ele = $("#project-status-detail");
            ele.popover('toggle');
            var inner_ele = document.getElementById("project-detail");
            $("#content2").html(inner_ele.innerHTML);
            inner_ele.getElementsByTagName("select")[0].id = "";
        }
        $("#contributor-detail").popover({placement:'bottom',content:'<div id="content"></div>',trigger:"manual"});
        $("#project-status-detail").popover({placement:'bottom',content:'<div id="content2"></div>',trigger:"manual"});
    </script>


    <script>
        function load_date_number() {
            $.getJSON("{% url "manage" %}",{"load_date_number":"true","sno":sno,"tno":tno},function(res){
              echarts_date_number("date_number",sno,res);
            })
        }
        function load_gender(){
            $.getJSON("{% url "manage" %}",{"load_gender":"true","sno":sno,"tno":tno},function(res){
              echarts_gender("gender",sno,res);
            })
        }
        function load_location(){
            $.getJSON("{% url "manage" %}",{"load_location":"true","sno":sno,"tno":tno},function(res){
              echarts_location("loaction",sno,res);
            })
        }
    </script>

</body>
</html>