<!DOCTYPE html>
<html>
<head>
	<title>ScholarDB-创建调研</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% load staticfiles %}
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="{% static "css/bootstrap/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap/bootstrap-overrides.css"%}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static  "css/icons.css"%}" />

    <!-- libraries -->

    <link rel="stylesheet" type="text/css" href="{% static "css/lib/font-awesome.css"%}" />
    <link href="{% static "css/lib/bootstrap-wysihtml5.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/uniform.default.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/select2.css"%}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/bootstrap.datepicker.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/lib/font-awesome.css"%}" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static "css/compiled/form-showcase.css"%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "css/compiled/form-wizard.css"%}" type="text/css" media="screen" />


    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
{% include "common_nav_bar.html" %}
{% include "common_side_bar.html" %}
<div style = "display: none">
    {% include "elements.html" %}
</div>
	<!-- main container -->
    <div class="content">

        <!-- settings changer -->

        <div class="container-fluid">
            <div id="pad-wrapper" class="new-user">
                <div class="row-fluid header" style="margin-left:20px;margin-bottom: 20px;">
                        <h1 class="icon-check"> 完成标注<small id = "tno-rec">#{{ tno }}</small></h1>
                </div>

                <div class="row-fluid form-wrapper">
                    <!-- left column. -->
                    <div class="span12">
                            <div id="fuelux-wizard" class="wizard row-fluid">
                                <ul class="wizard-steps">
                                    <li data-target="#getInfo" class="active">
                                        <span class="step">1</span>
                                        <span class="title" style="font-size: 18px">浏览信息</span>
                                    </li>
                                    <li data-target="#step2">
                                        <span class="step">2</span>
                                        <span class="title" style="font-size: 18px">领取数据</span>
                                    </li>
                                    <li data-target="#step3">
                                        <span class="step">3</span>
                                        <span class="title" style="font-size: 18px">上传数据</span>
                                    </li>
                                    <li data-target="#step4">
                                        <span class="step">4</span>
                                        <span class="title" style="font-size: 18px">完成任务</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="step-content">
                                <div class="step-pane active" id="getInfo">
                                     <div class="row-fluid form-wrapper">
                                         <div class="span10">

                                             <table class="table table-bordered  table-hover">
                                                 <tr>
                                                     <th>标题</th>
                                                     <th>酬劳</th>
                                                     <th>截止日期</th>
                                                     <th>样例</th>
                                                 </tr>
                                                 <tr>
                                                     <td id="title"> </td>
                                                     <td id="payment"> </td>
                                                     <td id="deadline"> </td>
                                                     <td><a id="download_e">这就是样例</a></td>
                                                 </tr>
                                             </table>
                                             <table broder="5" class="table table-bordered table-hover">
                                                 <tr>
                                                     <th>描述</th>
                                                 </tr>
                                                 <tr>
                                                     <td id="description"> </td>
                                             </table>
                                              <div class = "alert alert-success" id = "check-legibility">
                                                确认是否对该任务主题感兴趣，选择点击“下一步”或“返回”。
                                             </div>
                                         </div>
                                     </div>
                                </div>
                                <div class="step-pane" id="step2">
                                    <div class="row-fluid form-wrapper">
                                        <div class="span10">
                                            <div class = "alert alert-success" id = "check-legibility">
                                                您已在“上一步”中体验了样例标注，请自行根据标注难度和自身的时间精力，领取合适的标注数据份额。
                                            </div>
                                            <div class="hero-unit">
                                                <h2 id="file_num"></h2>
                                                <div class="row-fluid">
                                                    <p id="payment_slice"> </p>
                                                    <input class="span3" type="number" value="1" min="1" id="file_slice"/>
                                                </div>
                                                <p>
                                                    <a style="margin-top:20px" class="btn btn-primary btn-large" id="download_data" onclick="download_data()";">
                                                        下载数据包
                                                    </a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="step-pane" id="step3">
                                    <div class ="span10">
                                        <div class = "alert alert-success" id = "check-legibility">
                                            如果您已将数据标注完毕，可压缩为.zip文件上传，当学者确认你的成果后，您将获得相应的报酬。
                                        </div>
                                        <div class="hero-unit">
                                                <h2>恭喜您完成标注任务！</h2>
                                                <div class="row-fluid">
                                                    <p> 请您将已标注好的数据集以.zip格式上传 </p>
                                                </div>
                                                <input type="file" id="rawdata_slice" name="rawdata_slice"/>
                                                <button class="btn btn-flat" onclick="ajaxFileUpload_file()">上传文件</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="step-pane" id="step4">
                                    <div class ="span10">
                                        <div class = "alert alert-success" id = "check-legibility">
                                            恭喜您顺利完成标注任务，请确认您的酬劳！
                                        </div>
                                        <div class="hero-unit">
                                                <h2>数据集已上传！</h2>
                                                <p id="payment_finish"></p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="wizard-actions">
            <button type="button" disabled="" class="btn-glow primary btn-prev">
                <i class="icon-chevron-left"></i> 上一步
            </button>
            <button type="button" class="btn-glow primary btn-next" data-last="Finish">
                下一步 <i class="icon-chevron-right"></i>
            </button>

            <button type="submit" class="btn-glow success btn-finish" onclick="window.location ='{% url "list"%}'">
                好的！
            </button>
        </div>

                    <!-- side right column -->
    </div>

    <!-- end main container -->
	<!-- scripts -->
    <script src="{% static "js/jquery-latest.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/theme.js"%}"></script>
    <script src="{% static "js/wysihtml5-0.3.0.js"%}"></script>
    <script src="{% static "js/bootstrap-wysihtml5-0.0.2.js"%}"></script>
    <script src="{% static "js/ajaxfileupload.js"%}"></script>
    <script src="{% static "js/jquery.uniform.min.js"%}"></script>
    <script src="{% static "js/select2.min.js"%}"></script>
    <script src="{% static "js/theme.js"%}"></script>

        <!-- call this page plugins -->

    <script src = "{% static "js/survey_chart.js" %}"></script>

    <script>
        var tno = {{ tno }};
        var uno = 0;
        var example_name;
        var data_name;
        var max_num = 0;
        var payment = 0;
        var init_path ;

        getInfo();

        function getInfo() {
            $.getJSON("{% url "view_files" %}",{"getInfo":"true","tno":tno},function(res){
                document.getElementById("title").innerHTML = res.title;
                document.getElementById("payment").innerHTML = res.payment;
                document.getElementById("deadline").innerHTML = res.deadline;
                document.getElementById("description").innerHTML = res.description;
                document.getElementById("file_num").innerHTML ="本数据任务共有" + res.num.toString() + "组数据包";
                document.getElementById("payment_slice").innerHTML ="您可以选择标记数据的份额，每份报酬为" + (res.payment/res.num) + "元";
                $("#file_slice").attr("max",res.num);
                uno = res.uno;
                example_name = res.example_name;
                data_name = res.data_name;
                max_num = res.num;
                payment = res.payment;
                path = "{% static "" %}" + "uno_"+uno + "/tno_"+tno+"/sender"+"/example/"+example_name;
                document.getElementById("download_e").href = path;
            })
        }

        function download_data(){
            var num = $("#file_slice").val();
            $.get("{% url "download_data" %}",{"tno":tno,"uno":uno,"data_name":data_name,"num":num,"max_num":max_num},function(res){
                uno = res.uno;
                tno = res.tno;
                path = "{% static "" %}" + "uno_"+uno + "/tno_"+tno+"/sender/rawdata"+"/data.zip";

                document.getElementById("download_data").href = path;

            })
        }

        function ajaxFileUpload_file() {
            $.ajaxFileUpload(
                {
                    url: '/project/upload_slice/', //用于文件上传的服务器端请求地址
                    secureuri: false, //是否需要安全协议，一般设置为false
                    fileElementId: ['rawdata_slice'], //文件上传域的ID
                    dataType: 'JSON', //返回值类型 一般设置为json
                    data: {"tno":tno,"uno":uno},
                    success: function (data, status)  //服务器成功响应处理函数
                    {
                        $("#img1").attr("src", data.imgurl);
                        if (typeof (data.error) != 'undefined') {
                            if (data.error != '') {
                                alert(data.error);
                            } else {
                                alert(data.msg);
                            }
                        }
                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {
                        alert(e);
                    }
                }
            )
        }

    </script>
    <script type="text/javascript">
        $(function () {

            // add uniform plugin styles to html elements
            $("input:checkbox, input:radio").uniform();

            // select2 plugin for select elements
            $(".select2").select2({
                placeholder: "请选择..."
            });

            // wysihtml5 plugin on textarea
            $(".wysihtml5").wysihtml5({
                "font-styles": false
            });
        });
    </script>
    <script src="{% static "js/fuelux.wizard.js"%}"></script>

    <script type="text/javascript">
        $(function () {
            var $wizard = $('#fuelux-wizard'),
                $btnPrev = $('.wizard-actions .btn-prev'),
                $btnNext = $('.wizard-actions .btn-next'),
                $btnFinish = $(".wizard-actions .btn-finish");

            $wizard.wizard().on('finished', function(e) {
                // wizard complete code
            }).on("changed", function(e) {
                var step = $wizard.wizard("selectedItem");
                // reset states
                $btnNext.removeAttr("disabled");
                $btnPrev.removeAttr("disabled");
                $btnNext.show();
                $btnFinish.hide();

                if (step.step === 1) {
                    $btnPrev.attr("disabled", "disabled");

                } else if (step.step === 4) {
                    $btnNext.hide();
                    $btnFinish.show();
                }
            });

            $btnPrev.on('click', function() {
                $wizard.wizard('previous');
                var step = $wizard.wizard("selectedItem");
            });
            $btnNext.on('click', function() {
                var step = $wizard.wizard("selectedItem");
                $wizard.wizard('next');
            });
            $btnFinish.on('click',function(){
            });
        });
    </script>
</body>
</html>